@use "../sass/mixins.scss" as *;
@use "../sass/variables.module.scss" as *;
@use "../sass/breakpoints.scss" as *;

:root {

  // note all values need px unit for calc() to work. 
  // ie: 0 should be 0px 

  --grid-columns: 9;
  --grid-column-gap: 0px;
  --grid-side-margin: 1.6rem;
  --scrollbar-width: 0px;

  --grid-width-input: calc(100vw - var(--scrollbar-width) - var(--grid-side-margin) * 2);

  --grid-width: var(--grid-width-input);
  --grid-column-width: calc((var(--grid-width) - (var(--grid-columns) - 1) * var(--grid-column-gap)) / var(--grid-columns));

  &.windows {

    --scrollbar-width: #{$scrollbarWidth};
    @include breakpoint(mobile);
    //--scrollbar-width: 0px // this breaks the layout - leave for windows
  }


  @include breakpoint(mobile) {
    --scrollbar-width: 0px;
    --grid-columns: 9;
    --grid-column-gap: 0;
    --grid-side-margin: 1.6rem;
  }

}

.the-container {
  @include mainContainer();
}

.the-grid {
  @include mainGrid();
}