// Palette
$white: #FBFBFB;
$black: #141414;

$neutral-text: #585858;
$discard-text: rgba(88, 88, 88, 0.2);

$bg-white: #FBFBFB;

$primary: #AB0000;

$placeholder-rect-color: $primary;
$placeholder-rect-secondary: $discard-text;